
  .Form{
    background: #073763;
    width: 100%;
    height: 100%;
  }
  
  
  .formGroup bg-light text-black {
    width: 100%;
    max-width: 100px;
    margin: auto;

  }
  
  .registerButton {
    width: 100%;
    display: block;
  }