
.moviesContainer {
  background: #073763;
  width: 100%;
  height: 100vh;
}
.director {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.button-div{
  text-align: center;
  margin: 0 auto;
  width: 200px;
}
